.DS_Store
.vscode
.vs


APIServer/.vs/APIServer/xs/sqlite3/storage.ide
APIServer/.vs/APIServer/xs/sqlite3/storage.ide-shm
APIServer/.vs/APIServer/xs/sqlite3/storage.ide-wal
APIServer/.vs/APIServer/xs/UserPrefs.xml

UI/campus_net/node_modules/
