.field {
  display: flex;
  margin-bottom: 15px;
  flex-flow: column nowrap;
  /* align-items: flex-start; */
  width: 100%;
}

.field label {
  align-self: flex-start;
  margin-bottom: 5px;
}

.field input {
  background-color: none;
  font-size: 14px;
  line-height: 40px;
  padding-left: 15px;
  border-radius: 4px;
  border: 1px #dddddd solid;
}

.btn_group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.btn_group button {
  cursor: pointer;
  flex: 1;
  font-size: 14px;
  line-height: 40px;
  margin: 10px 0;
  padding: 0 20px;
  border-radius: 4px;
  border: none;
}

.btn_group .btn_primary {
  color: #fff;
  background-color: #178afa;
  border: 1px #178afa solid;
}

.btn_group .btn_common {
  color: #3f8af2;
  background-color: #e8f1fb;
  border: 1px #accff9 solid;
}

.btn_group .btn_ghost {
  color: #55575c;
  background-color: #ffffff;
  border: 1px #d8dae2 solid;
}

.btn_group button[disabled="disabled"] {
  color: #55575c;
  background-color: #ffffff;
  border: 1px #d8dae2 solid;
  cursor: not-allowed;
}